.container,
.containerDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin: 0 auto;
    min-height: 84vh;
}


.moviesGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
    width: 100%;
}

.favoritesLoginContainer,
.favoritesLoginContainerDark {
    min-height: 84vh;
    padding: 100px;
}

.containerDark,
.favoritesLoginContainerDark {
    background-color: rgba(0, 0, 0, 0.787);
    min-height: 78vh;
}

.favoritesLoginDiscription {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.logBtn {
    margin-top: 20px;
}

.movieButton {
    cursor: pointer;
    border: solid 1px rgb(181, 124, 88);
    border-radius: 7px;
    padding: 0;
    width: 75%;
}

.movieButton:hover {
    border-color: #0800ff;
    box-shadow: 0 0 9px rgba(255, 166, 0, 0.9);
}

.movieButton:active {
    border: solid 2px black;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
    min-width: 75%;
    min-height: 84vh;
}

.pagination {
    display: flex;
    margin-top: 20px;
    gap: 5px;
}

.pageButton {
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 2px;
    background-color: rgba(252, 252, 252, 0);
    cursor: pointer;
}

.pageButton:hover {
    border: solid 1px black;
    background-color: rgba(231, 200, 200, 0.588);
}

.pageButton:active {
    background-color: rgba(195, 186, 186, 0.588);
}

.activePage {
    border: solid 1px black;
    background-color: rgba(231, 200, 200, 0.588);
}

.disabled {
    opacity: 0.8;
    pointer-events: none;
}