.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
    min-width: 75%;
    min-height: 84vh;
}

.favoritesLoginContainer {
    min-height: 62vh;
    margin-top: 100px;
}

.favoritesLoginDiscription {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.logBtn {
    margin-top: 20px;
}

.movieButton {
    cursor: pointer;
    border: solid 1px rgb(181, 124, 88);
    border-radius: 7px;
    padding: 0;
    width: 75%;
}

.movieButton:hover {
    border-color: #0800ff;
    box-shadow: 0 0 9px rgba(255, 166, 0, 0.9);
}

.movieButton:active {
    border: solid 2px black;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
    min-width: 75%;
    min-height: 84vh;
}