.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 84vh;
    padding: 20px;
    width: 1000px;
    margin: 0 auto
}

.movieList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}