.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    background-color: #f8f9fa;
    padding: 10px 20px;
    background-color: #343b45;
}

.logoBtn {
    position: absolute;
    background-color: inherit;
    border-radius: 5px;
    border: none;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.inform {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.movieList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}