.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: white;
    background-color: #343b45;
}

.logoBtn {
    border-style: none;
    cursor: pointer;
    background-color: inherit;
    margin: 5px 0;
    cursor: pointer;
}

.inform {
    display: flex;
    align-items: center;
    gap: 3px;
}

.loginInfo {
    width: 110px;
}

.image {
    height: 30px;
}