.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formError {
    color: red;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:Hover {
    background-color: #313131;
}

button:active {
    background-color: #636363;
}

.switchText {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.switchLink {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
}